<div class="link-navigate">
    <h2 class="title">Регистрация</h2>
    <%= link_to "Вход", login_url %>
</div>
<div id="content">
	<div style="margin: 45px 0px;">
		<p>На Ваш email было выслано письмо активации.</p>
		<br/>
		<p>Пожалуйста, проверьте email.</p>
	</div>
</div><!-- #content-->