<div class="alert alert-success">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <p><strong>Проверь Почту!</strong> Ваш аккаутн не активирован,  на #{email} было отправлено письмо, с подтверждением вашего аккаунта.</p>
</div>
