        <div class="link-navigate">
            <h2 class="title">Регистрация</h2>
            <%= link_to "Вход", login_url %>
        </div>
        <div id="content">
      		<div class="alert alert-success">
  				<!--<button type="button" class="close" data-dismiss="alert">×</button>-->
 				 <p>На Ваш email было выслано письмо активации.</p>
 				 <br/>
 				 <p>Пожалуйста, проверьте email.</p>
			</div>  
        </div><!-- #content-->