<div class="link-navigate">
    <h2 class="title">Регистрация</h2>
    <%= link_to "Вход", login_url %>
</div>
<div id="content">
	<div>
		<% if flash[:notice] %>
      <div class="error_messages">
          <div class="alert alert-block alert-success">
                <p id="notice" ><%= flash[:notice] %></p>
          </div>
      </div>
    <% end %>
	</div>
</div><!-- #content-->