        <div class="link-navigate">
            <h2 class="title">Регистрация</h2>
            <%= link_to "Вход", login_url %>
        </div>
        <div id="content">
      		<div class="alert alert-success">
  				<!--<button type="button" class="close" data-dismiss="alert">×</button>-->
 				 <p><strong>Вам письмо!</strong></p><p>Ваш аккаутн не активирован, на указанный email было отправлено письмо, с подтверждением вашего аккаунта.</p>
			</div>  
        </div><!-- #content-->