<div class="link-navigate">
    <h2 class="title">Регистрация</h2>
    <%= link_to "Вход", login_url %>
</div>
<div id="content">
	<div>
		<% if @text %>
      <div class="error_messages">
          <div class="alert alert-block alert-success">
                <p id="notice" ><%= @text %></p>
          </div>
      </div>
    <% end %>
	</div>
</div><!-- #content-->