<% @vacancies_hot.each do |vacancy|%>
	<div class="hot-content">
			<h3><%= "#{vacancy.name.split[0..1].join(" ")}" %></h3>

			<div class="hot-description">
				<p><%= "#{vacancy.hot_vacancy.description}" unless vacancy.hot_vacancy.nil? %></p>
			</div>

            <p><%= link_to "Подробнее", {:controller => "search", :action => "vacancy", :city =>Russian.translit(vacancy.city).parameterize, :scope => Russian.translit(vacancy.category.scope.title).parameterize, :category => Russian.translit(vacancy.category.name).parameterize, :id => vacancy.to_param}, :title => "#{vacancy.name}", :class => "hot-vacancy-details" %></p>

	</div>
<% end %>