<table class="vacancies" width="100%">
				<% @vacancies.each do |vacancy|%>
					<tr>
						<td class="vacancy-name"><b><%= link_to "#{vacancy.name.split[0].delete ","}...", {:controller => "search", :action => "vacancy", :id => vacancy.id}, :title => "#{vacancy.name}" %></b></td>
						<td><%= vacancy.city[0,14] %></td>
						<td><%= vacancy.salary %> грн</td>
					</tr>
				<% end %>
			</table>
			<div class="link-more"><b><%= link_to "Показать еще", { :controller => "search", :action => "index", :method => "get", :sample => "1" } %></b></div>