<div class="search">
				<input type="text" class="input-text" placeholder="Укажите специальность">
				<input type="text" class="input-city" placeholder="Город">
				<select class="styled">
					<option>Работа</option>
					<option>Резюме</option>
				</select>
				<input type="submit" class="input-sub btn btn-warning" value="Найти">
		</div> <!-- search -->
		<div class="hot-vacancies">
			<h4 class="title-hot"><span class="icon-hot">ГОРЯЧИЕ ВАКАНСИИ</span></h4>
			<span class="label-tail-hot"></span>
			<div class="hot-content">
				<h3>Кардиолог</h3>
				<p>Требуется кардиолог-супермен в супер-клинику в Супер-Городе на супер-условиях</p>
				<p><a hrep="#">Подробнее</a></p>
			</div>
			<div class="hot-content">
				<h3>Кардиолог</h3>
				<p>Требуется кардиолог-супермен в супер-клинику в Супер-Городе на супер-условиях</p>
				<p><a hrep="#">Подробнее</a></p>
			</div>
			<div class="hot-content">
				<h3>Кардиолог</h3>
				<p>Требуется кардиолог-супермен в супер-клинику в Супер-Городе на супер-условиях</p>
				<p><a hrep="#">Подробнее</a></p>
			</div>
			<div class="hot-content">
				<h3>Кардиолог</h3>
				<p>Требуется кардиолог-супермен в супер-клинику в Супер-Городе на супер-условиях</p>
				<p><a hrep="#">Подробнее</a></p>
			</div>
		</div>
		<div class="last-vacancies">
			<h4 class="title-last-vacancies"><span class="icon-last-vacancies">ПОСЛЕДНИИ ВАКАНСИИ</span></h4>
			<span class="label-tail-last-vacancies"></span>
			<table class="vacancies" width="100%">
				<tr>
					<td><b><a href="#">Стоматолог</a></b></td>
					<td>Киев</td>
					<td>8000 - 10000</td>
				</tr>
				<tr>
					<td><b><a href="#">Стоматолог</a></b></td>
					<td>Киев</td>
					<td>8000 - 10000</td>
				</tr>
				<tr>
					<td><b><a href="#">Стоматолог</a></b></td>
					<td>Киев</td>
					<td>8000 - 10000</td>
				</tr>
				<tr>
					<td><b><a href="#">Стоматолог</a></b></td>
					<td>Киев</td>
					<td>8000 - 10000</td>
				</tr>
				<tr>
					<td><b><a href="#">Стоматолог</a></b></td>
					<td>Киев</td>
					<td>8000 - 10000</td>
				</tr>
				<tr>
					<td><b><a href="#">Стоматолог</a></b></td>
					<td>Киев</td>
					<td>8000 - 10000</td>
				</tr>
				<tr>
					<td><b><a href="#">Стоматолог</a></b></td>
					<td>Киев</td>
					<td>8000 - 10000</td>
				</tr>
				<tr>
					<td><b><a href="#">Стоматолог</a></b></td>
					<td>Киев</td>
					<td>8000 - 10000</td>
				</tr>
				<tr>
					<td><b><a href="#">Стоматолог</a></b></td>
					<td>Киев</td>
					<td>8000 - 10000</td>
				</tr>
			</table>
			<div class="link-more"><b><a href="#">Показать еще</a></b></div>
		</div>
		<div class="companies">
			<h4 class="title-companies"><span class="icon-companies">КОМПАНИИ</span></h4>
			<span class="label-tail-companies"></span>
			<table class="companies-logo" width="100%">
				<tr>
					<td><img src="/assets/logo-company-1/logo-company-1.png"></td>
					<td><img src="/assets/logo-company-1/logo-company-2.png"></td>
				</tr>
				<tr>
					<td><img src="/assets/logo-company-1/logo-company-3.png"></td>
					<td><img src="/assets/logo-company-1/logo-company-4.png"></td>
				</tr>
				<tr>
					<td><img src="/assets/logo-company-1/logo-company-5.png"></td>
					<td><img src="/assets/logo-company-1/logo-company-6.png"></td>
				</tr>
				<tr>
					<td><img src="/assets/logo-company-1/logo-company-7.png"></td>
					<td><img src="/assets/logo-company-1/logo-company-8.png"></td>
				</tr>
				<tr>
					<td><img src="/assets/logo-company-1/logo-company-9.png"></td>
					<td><img src="/assets/logo-company-1/logo-company-10.png"></td>
				</tr>
			</table>
		</div>
		<div class="clear"></div>