<script>
	$(document).ready(function(){
		$(".form-search, .search-applicant").css("display", "none");
	});
</script>
<style>
	.create-button {
			width: 250px;
	}
	.create-resume{
			padding: 30px;
			background: none;
			border: 1px solid #767676;
			border-radius: 10px;	
	}		
</style>
						<div class="search"> 
                <ul>
                    <li class="active"><a href="#">Работу</a></li>
                    <li><a href="#">Сотрудника</a></li>
                </ul>
                <div class="search-box clearfix">
                    <input type="text" value="" class="input-text">
                    <input type="submit" value="Найти" class="input-sub">
                </div>
            </div> 
    <div class="alert alert-success" style="margin-top: 20px;">
				<button class="close" data-dismiss="alert" type="button">×</button>
		    <div class="create-button">
					<a id="create-resume" href="#">Создать резюме</a> <hr>
					<a id="create-vacancy" href="#">Разместить вакансию</a> 
				</div>
    </div>
            <!--<div class="info-link clearfix">
                <a href="#">
                    <img width="27" src="img/ico_my_resume.gif" style="z-index: 1; position: relative; top: 11px; margin-right: 5px;" heistyleght="27" tooltip="Перейти к менеджеру резюме">
                    Мои резюме <span>(2 из 3)</span>
                </a>
                <a href="#">
                    <img width="22" height="21" src="img/ico_search.gif" style="z-index: 1; position: relative; top: 6px; margin-right: 5px;" tooltip="Перейти на страницу расширенного поиска">

                    Расширенный поиск
                </a>
            </div>
