<div id="search-result">
			<h4 class="title-last-vacancies"><span class="icon-last-vacancies">СПИСОК РЕЗЮМЕ</span></h4>
			<span class="label-tail-last-vacancies"></span>
			<table class="search-result" width="100%">
				<% @resumes.each do |resume| %>	
					<tr>
						<td><%= image_tag resume.profile.photo.url(:search), :class => "photo-applicant" %></td>
						<td><%= link_to resume.position, :controller => :search, :action => :resume, :id => resume.id %></td>
		  				<td><%= resume.city %></td>
		    			<td><%= resume.salary %> грн.</td>
					</tr>
				<% end %>
			</table>
			<div class="link-more"><b><a href="#">Показать еще</a></b></div>
</div>
<%# link_to 'Просмотр', :controller => "search", :action => "show", :id => vacancy.id %>

