<% if @vacancies.empty? %>
	<div class="message-full-size">
		<h3>Таких вакансий у нас еще нет. Давайте <a href="/search?sample=1" onclick="_gaq.push(['_trackEvent','more','send'])" style="font-size: inherit;">поищем другие.</a></h3>
	</div>		
<% end %>
