<div id="frame-other">
      <div class="cap">
            <h2 id="">Список вакансий</h2>
      </div>

      <div class="boxed">
          <table class="vacancy-company-list" width="100%">
            <% unless @vacancies.empty? %>
              <% @vacancies.each do |vacancy| %>
                <tr>
                  <td><%= link_to vacancy.name, {:controller => "search", :action => "vacancy", :city =>Russian.translit(vacancy.city).parameterize, :scope => Russian.translit(vacancy.category.scope.title).parameterize, :category => Russian.translit(vacancy.category.name).parameterize, :id => vacancy.to_param} %></td>
              	  <td><%= vacancy.city %></td>
                  <td><%= vacancy.salary %> грн.</td>
                </tr>
              <% end %>
            <% else %>
              <tr>
                <td colspan="3">У этой компании нет вакансий.</td>
              </tr>
            <% end %>
          </table>
          <div class="link-more"><b><%= link_to "Поиск вакансий", { :controller => "/search", :action => "index", :method => "get", :sample => "1" } %></b></div>
      </div> <!-- .boxed -->
</div> <!-- #frame -->

