<% Scope.all.each do |scope| %>
        <% s = Russian.translit(scope.title).parameterize %>
        <%= link_to "#{scope.title}", {:controller => :search, :action => "scope", :city => nil, :scope => s} %> <span>|</span>
<% end %>