<div id="search-result">
			<h1 class="title-last-vacancies"><span class="icon-last-vacancies">СПИСОК КОМПАНИЙ</span></h1>
			<span class="label-tail-last-vacancies"></span>
			<table class="search-result" width="100%">
				<% @companies.each do |company| %>	
					<tr>
						<td><%= image_tag company.logo.url(:search), :class => "photo-employer" %></td>
						<td><%= link_to company.name, :controller => :search, :action => :company, :id => company.id %></td>
		  				<td><%= company_scope_helper(company) %></td>
					</tr>
				<% end %>
			</table>
			<div class="link-more"><b><a href="#">Показать еще</a></b></div>
</div>

