<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Здравствуйте, компания "<%= @account.company.name %>".</p>
    <p>К сожалению, профиль Вашей компании не прошел проверку модератором и не может быть опубликован на сайте www.medical.netbee.ua.</p>
    <% unless @body_letter.empty? %>
      <br/>
      <p>Комментарий модератора:</p>
      <p><%= @body_letter %></p>
    <% end %>
    <p>Вы можете связаться с модератором:</p>
    <p>support@medical.netbee.ua</p>
    <p>(048) 784-14-75</p>
    <p>(095) 286-42-32</p>
    <p>(095) 286-42-33</p>
    <p><%#= url_for(:host => "medical.netbee.ua", :controller => "/search", :action => "resume", :id => @applicant.resume.id) %></p>
    <br/>
    <p>Спасибо за использование нашего ресурса.</p>
    <p>С уважением, команда Netbee.</p>
  </body>
</html>

