<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Здравствуйте.</p>
    <p>Перейдите по указанной ниже ссылке, чтобы восстановить пароль Вашего аккаунта на сайте medical.netbee.ua</p>
    <%= link_to "Восстановить пароль", :host => "medical.netbee.ua", :controller => "accounts", :action => "edit", :token => @account_token %>

    <p>Спасибо за создание учетной записи на сайте medical.netbee.ua</p>
    <p>С уважением, команда Netbee.</p>
  </body>
</html>

