form.template {margin-top: 20px;}
table.form {width: 100%; font-size: 0.7em; height: 100%; width: 100%; background: #edede6;}
table.form input, select, textarea {font-size: 1em;}
div.form_group {padding: 10px 20px 1px 20px; background: #edede6;}
div.form_group h2 {font-size: 0.6em; text-transform: uppercase; background: #d9d9ce; padding: 0.5em; margin: 0; color: #000; text-decoration: underline; cursor: pointer; cursor: hand; border-top: 1px solid #fff; border-left: 1px solid #fff; border-right: 1px solid #aaa; border-bottom: 1px solid #aaa;}
table.form th {padding-top: 10px; text-align: left;}
table.form th h2 {font-size: 0.9em; text-transform: uppercase; font-weight: bold; background: #d9d9ce; padding: 0.5em;}
table.form td {padding: 10px 0px 20px 0px; vertical-align: top; border-bottom: 1px solid #d9d9d3;}
table.form td div, table.form td table {margin: 5px 0 15px 25px;}
table.form td div.note {width: 94%; font-size: 0.9em; color: #444; margin: 5px 0 0 0; padding: 1px 5px 3px 5px; background: #ffff9f; border: 1px solid #d9d9d3;}
table.form td table td {padding: 0; border: 0; text-align: left;}
table.form h3 {font-size: 1em; margin: 0 0 0.5em 0;}
table.form p {font-size: 1em; margin: 0 0 0.5em 0;}
table.form h4 {font-weight: normal; font-size: 1em; margin: 0 0 0.5em 0;}
input.disabled, select.disabled, textarea.disabled {color: #888; background: #f8f8f1;}
table.disabled, div.disabled {color: #888;}
input.obligatory, select.obligatory {background: #ffebeb;}
input.error {border: 2px solid #d93021;}
.error {color: #d93021;}