<fieldset>
  <%= f.text_field :language, :class => "language", :style => "float: left; width: 130px;" %>
  <%= f.text_field :skill, :class => "language_skill", :type => "hidden"%>
  <div class="star"></div>
  <div class="hint">&nbsp;</div>
</fieldset>
 <script>
    var createDate = new Date().getTime();
		var newClass = createDate.toString();
    var starClass = $('.star').attr("id", "star-" + newClass)
    var hintClass = $('.hint').attr("id", "hint-" + newClass)
		//function language_skill(){
				
		//}

    $(starClass).raty({
       target: hintClass,
       width: '136',
       targetKeep: true,
       cancel: false,
       cancelPlace: 'left',
       hints: ['минимальный', 'базовый', 'средний', 'продвинутый', 'свободно'],
			 click: function(score, evt) { 				
						 
						var fieldset = $(starClass).parent();
						var newClassFieldset = $(fieldset).attr("id", newClass);
						var newClassString = $(newClassFieldset).attr("id");
		
						$("#"+newClassString+" input[id$=_skill]").attr("value", score); 
		  }					 
    });

  
</script>

