<fieldset>
       <%= f.text_field :name, :class => "pc", :style => "float: left; width: 130px;" %>
       <%= f.text_field :skill, :class => "pc-skill", :type => "hidden"%>
       <div class="star-pc"></div>
       <div class="hint-pc">&nbsp;</div>
</fieldset>
 <script>
    var createDate = new Date().getTime();
    var newClass = createDate.toString();
    var starClass = $('.star-pc').attr("id", "star-" + newClass)
    var hintClass = $('.hint-pc').attr("id", "hint-" + newClass)

    $(starClass).raty({
       target: hintClass,
       width: '136',
       targetKeep: true,
       cancel: false,
       cancelPlace: 'left',
       hints: ['минимальный', 'базовый', 'средний', 'продвинутый', 'свободно'],
       click: function(score, evt) {        
             
            var fieldset = $(starClass).parent();
            var newClassFieldset = $(fieldset).attr("id", newClass);
            var newClassString = $(newClassFieldset).attr("id");
    
            $("#"+newClassString+" input[id$=_skill]").attr("value", score); 
      }          
    });

  
</script>


