<%# encoding: cp1251 %>
<script>
	$(document).ready(function(){	
		$(".profile").addClass("chosen");
	});	
</script>
<body onload="focus();">
    <section>
        <div class="content clearfix">
					<!--<h2><a class="service" href="my_green.html">Мой Netbee</a> / <a class="service" href="my_resumes_full_green.html">Мои резюме</a> / <span class="current">Бизнес-аналитик</span></h2>--> <!-- Хлебные крошки оставленные, удачно подобраны цвета  -->
            <div class="middle clearfix">
                    <ul class="middle-menu clearfix">
                        <li>
                            <img width="12" height="11" style="position: relative; top: 2px; margin-right: 4px;" src="/assets/img/ico_edit.gif" tooltip="Перейти к мастеру текущего резюме">
														<%= link_to("Редактировать", edit_applicant_resume_path(@resume.id)) %>
                        </li>
                        <li>
                            <img width="12" height="12" style="position: relative; top: 2px; margin-right: 4px;" src="/assets/img/ico_delete.gif" tooltip="Назначить текущее резюме резюме по умолчанию">
														<%= link_to("Удалить", applicant_resume_path(@resume.id), :method => :delete, :confirm => 'A you sure?') %>
                        </li>
                        <li><a href="#">

                            <img width="12" height="12" style="position: relative; top: 2px; margin-right: 4px;" src="/assets/img/ico_print.gif" tooltip="Распечатать резюме на принтере">

                            Версия для&nbsp;печати
                        </a></li>
                        <li><a href="#">
                            <img width="12" height="12" style="position: relative; top: 2px; margin-right: 4px;" src="/assets/img/ico_pdf.gif" tooltip="Распечатать резюме на принтере">
														Экспортировать в PDF
                        </a></li>
                    </ul>

								<div class="middle-nav"><!-- Начало левой панели навигации моего кабинета  -->
										<ul class="nav nav-tabs nav-stacked"> 
											<li><a href="#">Профиль</a></li>
											<li><a href="#">Аккаунт</a></li>
											<li><a href="#">Поиск</a></li>
											<li class="hover"><a href="#">Резюме</a></li>
											<li><a href="#">Вакансии</a></li>
  				          </ul>
								</div> <!-- Коненц левой панели навигации -->

                <div class="middle-left">
                    <!--<h2 class="breadcrumbs">
                        <a href="#">  Мой Netbee</a>
                        <a href="#" > / Мои резюме </a>
                        <a href="#" class="current">/ Бизнес-аналитик</a>
                    </h2>-->
                    <table cellpadding="0" cellspacing="0" class="paper">
                        <tr><td style="width: 20px; border: 0;" rowspan="30"><img width="20" height="1" src="img/spacer.gif" alt="" /></td><th colspan="2"><h2>Василий Иванович Пупкин</h2></th><td style="width: 20px; border: 0;" rowspan="30"><img width="30" height="1" src="img/spacer.gif" alt="" /></td></tr>
                        <tr><td nowrap="nowrap"><h4>Желаемая должность:</h4></td><td><p>Бизнес-аналитик</p></td></tr>
                        <tr><td nowrap="nowrap"><h4>Регион:</h4></td><td><p>Киев</p></td></tr>
                        <tr><td nowrap="nowrap"><h4>Год рождения:</h4></td><td><p>1979</p></td></tr>
                        <tr><td nowrap="nowrap"><h4>Почтовый адрес:</h4></td><td><p>22233, ул. Самоваров 9/12</p></td></tr>
                        <tr><td nowrap="nowrap"><h4>Электронная почта:</h4></td><td><p><a href="#">poupkine@yandex.ru</a></p></td></tr>
                        <tr><td nowrap="nowrap"><h4>Веб-сайт:</h4></td><td><p><a href="#">http://poupkine.netbee.com.ua/</a></p></td></tr>
                        <tr><td nowrap="nowrap"><h4>Телефон мобильный:</h4></td><td><p>+38 (050) 551-18-25</p></td></tr>
                        <tr><td nowrap="nowrap"><h4>Телефон домашний:</h4></td><td><p>+38 (044) 225-04-04</p></td></tr>
                        <!--Cюда -- все комментарии. Возможность смены места жительства -- как автокомментарий--><tr><td style="border: 0;" nowrap="nowrap"><h4>Дополнительно:</h4></td><td style="border: 0;"><p>В случае необходимости, место жительства может быть изменено.</p></td></tr>
                        <tr><th colspan="2"><h3>Образование</h3></th></tr>
                        <tr><td colspan="2" style="border: 0;"><p>Высшее техническое: математика, физика, химия, машиностроение, к-л промышленное производство.</p></td></tr>
                        <tr><th colspan="2"><h3>Опыт работы</h3></th></tr>
                        <tr><td><h4>Бизнес-аналитиком:</h4></td><td><p>Более трех лет.</p></td></tr>
                        <tr><td><h4>Системным аналитиком:</h4></td><td><p>До года.</p></td></tr>
                        <tr><td><h4>Продакт-менеджером:</h4></td><td><p>Более трех лет.</p><!--Комментарий к продакт-менеджеру--><p>Разрабатывал концепции внедрения новых программных продуктов по автоматизации пищевой промышленности.</p></td></td></tr>
                        <tr><td style="border: 0;"><h4>Другой опыт:</h4></td><td style="border: 0;"><p>Работал топ-менедером в крупной компании, занимающейся зернохранением. Основная обязанность &#151; анализ рынков сбыта зерна в Азии и Африке.</p></td></tr>
                        <tr><th colspan="2"><h3>Знания и навыки</h3></th></tr>
                        <tr><td><h4>Участие в проектах внедрения формализованных бизнес-процессов:</h4></td><td><p>Опыт участия в подобных проектах.</p></td></tr>
                        <tr><td><h4>Опыт подготовки бизнес-моделей:</h4></td><td><p>Более года в разработке бизнес-моделей.</p></td></tr>
                        <tr><td><h4>Знание средств описания диаграмм:</h4></td><td><p>UML.</p></td></tr>
                        <tr><td><h4>Владение CASE-средствами:</h4></td><td><p>Rational Rose.</p></td></tr>
                        <tr><td><h4>Другие знания:</h4></td><td><p>Знание методов сбора и формализации.</p><p>Знание основ теории управления качеством, стандарты в области качества.</p></td></tr>
                        <tr><td><h4>Английский язык:</h4></td><td><p>Свободно</p></td></tr>
                        <tr><td style="border: 0;"><h4>Знание офисного программного обеспечения и оргтехники:</h4></td><td style="border: 0;"><p>Опытный пользователь.</p></td></tr>
                        <tr><th colspan="2"><h3>Рекомендации</h3></th></tr>
                        <tr><td colspan="2" style="border: 0; padding-bottom: 30px;"><p>Замечательный работник! Очень рекомендуем всем коллективом.</p></td></tr>
                    </table>

                </div>
                <!--<div class="middle-right">

                    <h2>Что такое «резюме по умолчанию»?</h2>

                    <p>Событие, описанное в этом словаре, произошло, видимо, в VIII или в IX веке нашей эры (возможно,
                        было несколько подобных событий), и в специальной литературе оно обычно называется «хазарской полемикой».</p>

                    <h2>Что такое «экспорт в PDF»</h2>

                    <p>Хазары, независимое и сильное племя, воинственные кочевники, в момент,
                        не известный истории, появились с Востока, гонимые жаркой тишиной,и в период с VII по Х век населяли сушу
                        между двумя морями —Каспийским и Черным.</p>

                </div>-->
            </div>
        </div>

    </section>

<footer>
    <div class="footer">
        <div>
            <p>&copy; 2005 <a href="#">Staff Centre Group Of Companies</a></p>
        </div>
        <div>
            <p>25 135 вакансий</p>
        </div>
        <div>
            <p>10 009 резюме</p>
        </div>
        <div>
            <p><a href="#">Guess Who designed it</a></p>
        </div>
    </div>
</footer>

</body>
</html>
