<div class="content-company">	
	<%= nested_form_for(@company, :url => {:action=>"update", :controller=>"employer/profile_companies"}, :html => { :class => 'standart_form' } ) do |employer_fields| %>
  		<%= render :partial => 'profile_fields', :locals => { :employer => employer_fields.object, :employer_fields => employer_fields} %>
	
			<h5>Контактная информация</h5>
			<%= render :partial => 'contact_fields', :locals => { :employer => employer_fields.object, :employer_fields => employer_fields}%>
		
	<%= employer_fields.submit "Сохранить", :class => "save_edit_button" %>
<% end %>
</div> <!-- .content-company -->