	<div id="content">
		<div id="frame">
			<div class="cap">
				<h2 id="about">О нас</h2>
			</div>
			<div class="boxed">
				<div class="about-page">
				<p>Netbee представляет первый и лучший портал для медицинских работников и профильных медицинских учреждений. Наш сервис позволяет не только совершить эффективный и быстрый поиск работы для соискателей на весь спектр вакансий, связанных с медицинским обслуживанием, но и осуществить подбор персонала для работодателей.</p>
				<h2>Ищете работу в медицинской сфере?</h2>
				<p>Для медицинских работников всех профилей - от медсестер до врачей высшей категории - мы приготовили удобный функционал поиска достойной работы со следующими преимуществами:</p>
				<ul>
				<li>полностью бесплатный сервис;</li>
				<li>удобный интерфейс - без рекламы и лишних элементов;</li>
				<li>простая регистрация - без утомительных форм и анкет;</li>
				<li>помощь при создании резюме - вы можете воспользоваться шаблонным примером для идеального оформления;</li>
				<li>высокая популярность портала привлекает большое количество работодателей - а это повышает ваши шансы найти подходящую работу.</li>
				</ul>
				<h2>Ищете квалифицированный медперсонал?</h2>
				<p>Для работодателей мы организовали максимально эффективный сервис по поиску и отбору лучшего персонала в медицинской сфере, который гарантирует:</p>
				<ul>
				<li>все необходимые функции сервиса - на бесплатной основе;</li>
				<li>удобство и простоту отбора соискателей по четко структурированным резюме;</li>
				<li>большой выбор соискателей, желающих занять вашу вакансию;</li>
				<li>квалифицированные модераторы и администраторы портала, имеющие медицинское образование - здесь вас поймут на профессиональном уровне;</li>
				<li>возможность работы с персональным HR-менеджером, закрепленным за вашей компанией или учреждением.</li>
				</ul>
				<h2>Оптимальное решение - перед вами</h2>
				<p>Целью данного портала является объединение усилий соискателей и работодателей, для обеспечения каждого медицинского учреждения квалифицированным персоналом, равно как и гарантия достойной оплаты и приятных условий работы для этого персонала.</p>
				<p>Только вместе мы сможем добиться улучшения качества медицинского обслуживания в Украине, чтобы стремиться к европейскому уровню обслуживания - и выше!</p>
			</div>
			</div>
		</div><!-- #frame -->

		<div id="account-nav">
			<div class="cap">
				<h3>Последние вакансии</h3>
			</div>
			<div class="boxed-nav">
				<%= render :partial => "layouts/three_last_vacancies" %>
			</div>
		</div>
		<div class="clear"></div>
	</div><!-- #content-->