	<div id="content">
		<div id="frame">
			<div class="cap">
				<h2 id="about">О нас</h2>
			</div>
			<div class="boxed">
				<div id="heart">
					<h1>I</h1>
					<img src="/assets/heart.png">
					<h1>Medical</h1>
				</div>
				<div class="clear"></div>
			</div>
		</div><!-- #frame -->

		<div id="account-nav">
			<div class="cap">
				<h3>Последние вакансии</h3>
			</div>
			<div class="boxed-nav">
				<%= render :partial => "layouts/three_last_vacancies" %>
			</div>
		</div>
		<div class="clear"></div>
	</div><!-- #content-->