#wrapper {
    background: none repeat scroll 0 0 #FFFFFF;
    height: auto !important;
    margin: 0 auto;
    min-height: 100%;
    padding-left: 40px;
    padding-top: 1px;
    width: 1020px;
}

#content {
    margin: 15px 39px 15px 0;
}

#header-admin {padding-right: 38px;}

ul, ol {
	margin: 0px !important;
}
.nav-tabs-admin {
	margin-top: 25px;
}

#navbar_admin {
	margin-top: 20px;
}

.company_name {
	font-size: 14px;
	border: 1px solid transparent;
	line-height: 20px;
	color: #767676;
	margin-right: 2px;
	padding: 8px 12px 8px 12px;
}

.brand {
	text-decoration: none;
}

.brand:hover {
	text-decoration: underline !important;
}

.frame-admin {
margin-bottom: 40px;
}

.boxed-admin {
	padding: 15px 36px;
}

ul.nav li a {
	text-decoration: none;
}

input#btn-cancel {
    box-shadow: 0 -2px 0 0 #883E31 inset;
    color: rgba(19, 15, 4, 0.59);
    width: auto;
    height: 35px;
    padding: 2px 12px 4px;
    margin-right: 0px !important;
    text-shadow: 0 1px 1px rgba(219, 214, 214, 0.59);
}

input[type="submit"] {
	margin-right: 10px;
}

.scope_form input[type="submit"] {
	margin-right: 0px;
}

#body_letter {
	color: #767676;
	border: 1px solid #CCCCCC;
	border-radius: 6px;
    height: 143px;
    width: 653px;
}

.field {
	color: #767676;
	font-size: 14px;
}

.cap {
	padding: 14px 36px;
	color: #767676;
	font-size: 14px;
	border-bottom: 1px dashed #7A7979;
}

ul.nav > li {
    float: left;
    margin-top: 11px;
    list-style-type: none;
}

ul.nav > li.active a {
	padding: 12px 15px;
}

table tr th {
	color: #767676;
}

table tr td {
	font-size: 14px;
	color: #767676;
}

table {
	margin: 0px;
}

table#admin-search-result-account tr td {
	width: auto;
	background: none;
	text-align: center;
}

#admin-search-result-account tr th {
	height: 50px;
}

#search-admin {
	border: 1px solid #DADBDB;
	box-shadow: none;
	background-color: #F9F9F9;
	border-radius: 6px 6px 0px 0px;
	padding-bottom: 30px;
	width: 979px;
}

.search-box input {
	background-color: #F9F9F9;
	border: 1px solid #DADBDB;
	box-shadow: none;
}

#search-admin .search-box .selectbox .select {
	border: 1px solid #DADBDB !important;
}

 #search-admin .search-box .selectbox .select .text {
 	color: #767676;
 }

 #search-admin .search-box .selectbox ul.dropdown {
 	top: 40px !important;
 }

 #search-admin .search-box .input-text, #search-admin .search-box .input-city {
 	color: #767676;
 }

#search-result {
	margin-top: -20px;
	border-radius: 0px 0px 6px 6px;
}


 div.ui-tooltip, div.ui-widget div.ui-corner-all div.ui-widget-content div.ui-state-highlight {
	display: none !important;
}

/*-------------------------------- pagination ------------------------------------*/
span.prev {
	padding-right: 15px;
}

span.next {
	padding-left: 15px;
}

.current {
	color: #505050;
	font-size: 14px;
	font-weight: bold;
}
/*-------------------------------------------------------------------------------*/

.news_form textarea.wysihtml5 {
	height: 550px;
	width: 929px;
}
.news_form .wysihtml5-toolbar {
	width: 351px !important;
}

.news_form label.description {
	margin-bottom: 15px !important;
}

.news_form textarea.description {
	width: 929px;
	height: 92px;
}

h3.article { margin-top: 15px;}

table.articles {
	margin-top: 15px;
}

#article_title {
	width: 929px;
}

.news_form {
	width: 945px;
}

.news_form .btn-warning {
	margin-right: 0px;
	margin-bottom: 20px;
}
