form.standart_form {
	width: 513px;
	float: left;
}
form .item {
    margin-bottom: 25px;
    position: relative;
}
form .item > label {
	font-size: 14px;
	width: 180px;
	display: inline-block;
	margin-top: 5px;
	vertical-align: top;
}
form .field {
	display: inline-block;
	position: relative;
	vertical-align: middle;
	width: 260px;
}
form.standart_form .item .field .field_error > input[type="text"], form.standart_form .item .field .field_error > input[type="email"], form.standart_form .item .field .field_error > input[type="password"], form.standart_form .item .field > input[type="text"], form.standart_form .item .field > input[type="email"], form.standart_form .item .field > input[type="password"], form.standart_form .item .fields .field_error > input[type="text"], form.standart_form .item .fields .field_error > input[type="email"], form.standart_form .item .fields .field_error > input[type="password"], form.standart_form .item .fields > input[type="text"], form.standart_form .item .fields > input[type="email"], form.standart_form .item .fields > input[type="password"] {

    font-family: "PT Sans",Verdana,sans-serif;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    margin: 0;
    padding: 0 5px;
    width: 248px;
}
img.img-rounded {
	margin-right: 10px;
}
form.standart_form .buttons {	
	padding: 25px 0 0px 184px;
}

form.standart_form input[type="radio"], input[type="checkbox"] {
    cursor: pointer;
    line-height: normal;
    margin: 0 5px 2px 0;
}

form.standart_form .item .field textarea {
	 width: 248px; 
	 height: 220px; 
}
.recent_from, .recent_till {
	width: 73px;
}

form.standart_form div.student {
	/*margin-left: 176px;*/
	width: 92px;
	float: right;
}
form.standart_form div.student input[type="checkbox"]{
	float: left;
}

input.recent_till_education {
	width: 130px !important;
	float: left;
}

.standart_form input[type="submit"].save_edit_button {
	background-color: #99D2DE;
	color: #FFFFFF;
	border-radius: 5px 5px 5px 5px;
	margin-right: 10px;
	margin-bottom: 2px;
	margin-top: 2px;
	padding-bottom: 6px;
	padding-top: 6px;
	line-height: 14px;
	padding-left: 12px;
	padding-right: 12px;
	border-width: 0px;
	float: left;
	font-size: 13px;
}

input[type="submit"].save_edit_button:active {
	color: #333333;
}

#person-resume + ul.nav {
	margin-top: 25px;
}

input.salary {
	width: 80px !important;
	float: left;
	margin-right: 25px !important;
}

 div#ui-datepicker-div {
	    left: 501.567px !important;
	    top: 339px !important;

}