<div id="search-result">
			<!--<h4 class="title-last-vacancies"><span class="icon-last-vacancies">СПИСОК КОМПАНИЙ</span></h4>
			<span class="label-tail-last-vacancies"></span>-->
			<table class="search-result" width="100%">
				<% @companies.each do |company| %>	
					<tr>
						<td><%= image_tag company.logo.url(:search), :class => "photo-employer" %></td>
						<td><%= link_to company.name, edit_admin_companies_profile_path(company.id) %></td>
		  				<td><%= company.human_state_name %></td>
		    			<td>Вакансий <%= company.vacancies.count %></td>
					</tr>
				<% end %>
			</table>
			<div class="link-more"><b><a href="#">Показать еще</a></b></div>
</div>

