<style>
	.header a.btn{margin: 6px 0 0 200px; float: left;}
</style>
<header class="clearfix">
        <div class="header clearfix">
            <div class="greeting">
	            <a href="/" class="logo-company"><img src="/assets/img/logo.gif" alt=""></a>
            </div>
						<% if current_user %>
						<form class="form-search" style="width: 380px; float: left;">
							<div class="input-append">
								<input type="text" placeholder="Поиск работы..." class="span2 search-query" style="margin: 17px 0 0 0; width: 250px;">
								<button type="submit" class="btn" style="margin: 17px 0 0 0;">Результат</button>
							</div>
						</form>
            <div class="header-menu clearfix">
                <a class="search-applicant" href="#">Поиск сотрудника</a>
                	<a class="profile" href="#"><img style="margin-right: 4px; margin-top: -1px;" src="/assets/marquee.png"> Мой профиль</a>
								<%= link_to "Выход", logout_path %>
            </div>
        </div>
<% else %>
	        <div class="header clearfix">
						<%= link_to(signup_path, :class => "btn", :id => "signup") do %>
							<h1>Регистрация</h1>
						<% end %>
						<h1 class="login" style="display: none;">Вход</h1>
            <div class="header-menu clearfix">
								<%= link_to "Вход", login_path, :id => "login" %>
                <a href="#">О проекте</a>
            </div>
        </div>
<% end %>
</header>

