<ul class="nav nav-tabs nav-stacked"> 
		<li ><a style="background: none repeat scroll 0 0 #EDEDE6;" href="#"><%= current_user.email %></a></li>
		<li><%= 
				link_to_if(current_user.company.nil?, "Компания", new_employer_profile_company_path) do 
					link_to "Профиль", edit_employer_profile_company_path(current_user.company)
				end
			%>
		</li>
		<li><%= link_to_if current_user.company?, "Список вакансий", employer_vacancies_path %></li>
		<li><%= link_to_if current_user.company?, "Добавить вакансию", new_employer_vacancy_path %></li>
		
		
</ul>