<div class="icon">
	<a href="https://www.facebook.com/groups/145694108948665/" target="_blank"><img alt="facebook" class="facebook" src="/assets/icon-facebook.png"></a>
	<a href="https://twitter.com/MedicalNetbeeUa" target="_blank"><img alt="twitter" class="twitter" src="/assets/icon-twitter.png"></a>
	<a href="https://www.linkedin.com/groups/medicalnetbeeua-5032543?homeNewMember=&gid=5032543&trk=vgh&goback=.mid_I277995300*4175_*1" target="_blank"><img alt="linkedin" class="linkedin" src="/assets/icon-linkedin.png"></a>
</div>