<ul class="nav nav-tabs nav-stacked"> 
		<li><%= link_to "Учетные записи", admin_accounts_path %></li>
		<li><%= link_to "Поиск вакансий", admin_search_vacancies_path %></li>
		<li><%= link_to "Поиск резюме", admin_search_resumes_path %></li>
</ul>